In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("../DATA/data.csv")
df

     d_mm   m
0  0.0040  10
1  0.0065  20
2  0.0095  30
3  0.0100  30
4  0.0100  30
5  0.0130  40

In [11]:
df["lambda_nm"] = 2*df["d_mm"]/df["m"] *10**6 # nm

In [12]:
# adding average row to df, as : avg,..,..,..
df.loc["avg"] = df.mean()

In [20]:
df = df.round(3)
df.to_csv("../DATA/proccessedData.csv", index=True)
df

      d_mm       m  lambda_nm
0    0.004  10.000    800.000
1    0.006  20.000    650.000
2    0.010  30.000    633.333
3    0.010  30.000    666.667
4    0.010  30.000    666.667
5    0.013  40.000    650.000
avg  0.009  26.667    677.778